## Set image lookup paths
# Directory where original images are stored
image.original.dir=./data/Original/

# Directory where edited images are stored
image.edited.dir=./data/Edited/



## Set margin of error
# Overall error in RGB values - in percentage
error.rgb=5

# Delta in RBG values per pixel
#error.pixel=5
